<div class="container d-flex flex-row">
  <div class="container">
    <div class="container">
      <h2 class="m-3">Your Next Rentals</h2>
      <div class="flex-row">
        <% @user.offers.each do |offer| %>
          <div class="card m-1 flex-fill" >
            <div class="row g-0">
              <div class="col-md-4">
                <%= image_tag(offer.gear.image_url, alt: "Gear Photo", class: 'img-fluid rounded-start') %>
              </div>
              <div class="col-md-8 row flex-fill">
                <div class="card-body">
                  <h5 class="card-title"><%= offer.gear.name %></h5>
                  <p class="card-text">Owner: <%= offer.gear.user.name.capitalize %></p>
                  <p class="card-text"><small class="text-body-secondary">Start date: <%= offer.start_date %></small></p>
                  <p class="card-text"><small class="text-body-secondary">End date: <%= offer.end_date %></small></p>
                  <p class="card-text"><small class="text-body-secondary">Total Price: $<%= offer.total_price %></small></p>
                  <p class="card-text"><small class="text-body-secondary"><%= link_to "View Gear", gear_path(offer.gear) %></small></p>
                  <p class="card-text"><small class="text-body-secondary"><%= link_to "Send email", "mailto:#{offer.gear.user.email}" %></small></p>
                </div>
                <div class="col py-3">
                  <% if offer.end_date < Date.today %>
                    <p class="btn btn-outline-dark">Finished</p>
                  <% elsif offer.accepted? %>
                    <p class="btn btn-outline-success">Accepted</p>
                  <% else %>
                    <p class="btn btn-outline-warning">Pending</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <h2 class="m-3">Offers for your Gears</h2>
      <div class="flex-row flex-fill">
        <% @my_offers.each do |offer| %>
          <div class="card m-1 flex-fill" >
            <div class="row g-0">
              <div class="col-md-4">
                <%= image_tag(offer.gear.image_url, alt: "Gear Photo", class: 'img-fluid rounded-start m-3') %>
              </div>
              <div class="col-md-8 row flex-fill">
                <div class="card-body col-8">
                  <h5 class="card-title"><%= offer.gear.name %></h5>
                  <p class="card-text">Renter: <%= offer.user.name.capitalize %></p>
                  <p class="card-text"><small class="text-body-secondary">Start date: <%= offer.start_date %></small></p>
                  <p class="card-text"><small class="text-body-secondary">End date: <%= offer.end_date %></small></p>
                  <p class="card-text"><small class="text-body-secondary"><%= link_to "View Gear", gear_path(offer.gear) %></small></p>
                  <p class="card-text"><small class="text-body-secondary"><%= link_to "Send email", "mailto:#{offer.user.email}" %></small></p>
                </div>
                <div class="col py-3">
                  <% if offer.accepted %>
                    <p class="btn btn-outline-success">Accepted</p>
                  <% else %>
                    <%= button_to "Accept", accepted_path(offer), method: :patch, class:"btn btn-outline-secondary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <h2 class="m-3">Your Gears</h2>
      <div class="flex-row">
        <% @user.gears.each do |gear| %>
          <div class="card m-1 flex-fill" >
            <div class="row g-0">
              <div class="col-md-4">
                <%= image_tag(gear.image_url, alt: "Gear Photo", class: 'img-fluid rounded-start') %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= gear.name %></h5>
                  <p class="card-text"><%= gear.description %></p>
                  <p class="card-text"><small class="text-body-secondary"><%= link_to "Edit this gear", edit_gear_path(gear) %></small></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column p-3 ms-3">
    <div class="card my-5 p-3 rounded-2">
      <%= image_tag(@user.avatar, size: "100", alt: "Profile Picture", class: "align-self-center")%>
      <h2 class="text-center"><%= @user.name.capitalize %></h2>
      <p class="fw-light text-center"><%= link_to "Add gear", new_gear_path, class: "btn btn-primary" %></p>
    </div>
  </div>
</div>
