<div class="d-flex flex-column">
  <%= simple_form_for(gear) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :image_url %>
      <%= f.input :category, collection: Gear::CATEGORIES %>
      <div class="d-flex justify-content-between">
        <%= f.submit class: "btn btn-light"%>
        <%= link_to "Go back to my profile", my_profile_path, class: "btn btn-light align-self-end" %>
      </div>
  <% end %>
</div>
