<div class="row">
  <div class="col w-25 p-3">
    <%= image_tag @gear.image_url, class: 'img-fluid' %>
  </div>
  <div class="col m-3">
    <h1 class="fw-bold"><%= @gear.name %></h1>
    <h6 class="fst-italic opacity-75">$<%= @gear.price %></h6>
    <div class="col">
      <p class="fw-light opacity-75"><%= @gear.description %></p>
    </div>
    <% if @owner != @user  %>
      <div>
        <%= simple_form_for [@gear, @offer] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit(
            class: 'btn btn-danger text-white rounded-3',
            data: {
              turbo_confirm: "Confirm you want to rent \"#{@gear.name}\"?"
            }
          )%>
        <% end %>
      </div>
    <% end %>
    <% if @user == @owner  %>
      <%= link_to "Visit my profile!", my_profile_path, class: "btn fw-light opacity-75" %>
    <% else %>
      <%= link_to "Visit #{@owner.name} profile!", gear_profile_path([@gear, @owner]), class: "btn fw-light opacity-75" %>
    <% end %>
  </div>
</div>
