<div class="row">
  <div class="col w-25 p-3">
    <%= image_tag @gear.image_url, class: 'img-fluid' %>
  </div>
  <div class="col m-3">
    <h1 class="fw-bold"><%= @gear.name %></h1>
    <h6 class="fst-italic opacity-75">$<%= @gear.price %></h6>
    <div class="col">
      <p class="fw-light opacity-75"><%= @gear.description %></p>
    </div>
    <% unless @reviews.empty? %>
      <h4 class="fw-bold">Reviews</h4>
      <% @reviews.each do |review| %>
        <p>
          <%= image_tag(@review.user.avatar, size: "20", alt: "Profile Picture", class: "align-self-center rounded-circle")%> <%= review.user.name.capitalize %> :
          <%= review.content %>
        </p>
      <% end %>
    <% end %>
    <% unless @review.nil? %>
      <%= simple_form_for  [@gear, @review] do |f| %>
        <%= f.input :content %>
        <%= f.submit class: 'btn btn-dark text-white rounded-3' %>
      <% end %>
    <% end %>
    <% if current_user != @gear.user %>
      <div>
        <%= simple_form_for [@gear, @offer] do |f| %>
          <%= f.input :start_date, html5: true, input_html: { value: Date.today.to_s } %>
          <%= f.input :end_date, html5: true %>
          <%= f.submit class: 'btn btn-danger text-white rounded-3' %>
        <% end %>
      </div>
      <%= link_to(
        "Visit #{@gear.user.name} profile!",
        gear_profile_path(@gear, @gear.user),
        class: "btn fw-light opacity-75"
      )%>
    <% else %>
      <%= link_to "Visit my profile!", my_profile_path, class: "btn fw-light opacity-75" %>
      <%= link_to "Edit this Gear!", edit_gear_path(@gear), class: "btn fw-light opacity-75" %>
    <% end %>
  </div>
</div>
